@model Goldsmith_p2.Models.Customerss

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customerss</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gold_in_grams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gold_in_grams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advance_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advance_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
